[Desktop Entry]
Version=1.0
Type=Application
Name=LCL Logger
Name[pl]=LCL Logger
GenericName=Amateur Radio Contest Logger
GenericName[pl]=Dziennik zawodów krótkofalarskich
Comment=Qt contest logging application for amateur radio operators
Comment[pl]=Aplikacja Qt do logowania zawodów krótkofalarskich
Exec=lcl-logger
Icon=/usr/share/lcl-logger/lcl.jpg
Terminal=false
Categories=Network;HamRadio;
Keywords=hamradio;contest;logger;cw;ssb;
StartupNotify=true
StartupWMClass=lcl-logger
